.header {
    background: url("./kidsreading.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: right;
    height: 100vh;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    padding-top: 25vh;
}
.header h1{
    font-size: 72px;
    font-family: 'Comic Sans MS';
}
.header h2 {
    font-size: 50px;
    font-family: 'Comic Sans MS';
}
.btn {
    background: darkgreen;
    height: 35px;
}
input {
    height: 35px;
}
form {
    width: 35vw;
    margin: 40px auto;
}